:root {
  --primary: #3d3d3d;
  --primary-rgba: rgba(61,61,61, 0.55);
  --lightGray: #7f7f7f;
  --backgroundColor: #f7f7f7;
  --textColor: var(--primary);

  --bodyFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --titleFontStack: var(--bodyFontStack);
}
* {
  box-sizing: border-box;
}
#body {
  background-color: var(--backgroundColor);
}
#root {
  min-width: 100%;
  overflow: hidden;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 10px;
}
@media (min-width: 768px) {
  .App {
    margin: 0 20px;
  }
}
h1, h2, h3 {

}
.no-margin-bottom {
  margin-bottom: 0;
}
.App-header {
  height: 70px;
  border-bottom: 3px solid var(--primary);
  display: flex;
  align-items: center;
}
nav.primary-nav, nav.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav.primary-nav a, nav.footer-nav a {
  display: inline-block;
  border-bottom: none;
}
nav.primary-nav .nav-right a, nav.footer-nav .nav-right a {
  margin-left: 10px;
}
@media (min-width: 768px) {
  nav.primary-nav .nav-right a, nav.footer-nav .nav-right a{
    margin-left: 20px;
  }
}
nav.primary-nav .nav-left a, nav.footer-nav .nav-left a {
  margin-right: 10px;
}
@media (min-width: 768px) {
  nav.primary-nav .nav-left a, nav.footer-nav .nav-left a{
    margin-right: 20px;
  }
}
body {
  color: var(--textColor);
  flex: 1;
  font-family: var(--bodyFontStack);
  line-height: 1.5;
}
.full-height {
  flex: 1;
}
.full-height__wrapper {
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p.description {
  margin: 0;
  color: var(--lightGray);
}
/* Links */
a, a:visited {
  color: var(--lightGray);
  fill: inherit;
  background-image: linear-gradient(180deg,transparent 75%, var(--primary) 0);
  background-size: 0 20%;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
a:hover, a:active {
  color: inherit;
  background-size: 100% 20%;
}
button, a.button {
  background-size: 0 30%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(0,146,70, 99%) 33.33333333333%, var(--backgroundColor) 33.33333333333%, var(--backgroundColor) 66.66666666666%, rgba(206,43,55, 99%) 66.66666666666%);
  background-position: center bottom;
  background-color: #4d4d4d;
  color: var(--backgroundColor);
  text-align: center;
}
button:focus, button:active,
button:hover,
a.button:focus, a.button:active,
a.button:hover {
  background-size: 100% 5%;
  background-color: var(--textColor);
  cursor: pointer;
}
button.-small, a.button.-small {
  padding: 10px 15px;
  transition: all 0.2s ease;
}
button.-large, a.button.-large {
  width: 550px;
  margin: 2rem 0;
  height: 60px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  button.-large, a.button.-large {
    width: 100%;
    margin-left: 0;
  }
}
button:-webkit-autofill, button:-webkit-autofill:hover, button:-webkit-autofill:focus, a.button:-webkit-autofill, a.button:-webkit-autofill:hover, a.button:-webkit-autofill:focus {border: none;-webkit-text-fill-color: var(--textColor);-webkit-box-shadow: 0 0 0px 1000px var(--backgroundColor) inset;}
footer {
  height: 70px;
  border-top: 3px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}



.section-narrow__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-narrow__wrapper {
    max-width: 550px;
  }
}

/* end forms */
.form-wrapper {
  margin: 1rem 0 14rem;
}
@media (min-width: 768px) {
  .form-wrapper {
    margin: 1rem 0 10rem;
  }
}
@media (min-width: 768px) {
  .section-narrow__wrapper {
    margin-top: 3rem;
  }
}

form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  form {
    margin: 0;
  }
}
sup {
  font-size: .5rem;
  margin-left: 5px;
  color: var(--lightGray);
}
/* .guide__wrapper {
  overflow:hidden;
  transition:transform 0.3s ease-out;
  height:auto;
  transform:scaleY(1);
  transform-origin:top;
} */

/* .question {
  margin-right: 40px;
}
.question__wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid var(--textColor);
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.question__wrapper h2, .question__wrapper h3{
  margin: 0;
} */


/* Other (currently unused) Forms */
::placeholder, label {
  color: var(--textColor);
}
input, textarea, select {
  color: var(--textColor);
  background-color: transparent;
  transition: background-size 0.3s ease-in-out;
  background-image: linear-gradient(to right, rgba(0,146,70, 99%) 33.33333333333%, var(--backgroundColor) 33.33333333333%, var(--backgroundColor) 66.66666666666%, rgba(206,43,55, 99%) 66.66666666666%);
  background-position: center bottom;
  background-size: 0 5%;
  background-repeat: no-repeat;
}
textarea, select, input, button, a.button {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--textColor);
  -webkit-box-shadow: 0 0 0px 1000px var(--backgroundColor) inset;
  transition: background-color 0.3s ease-in-out;
}
input:required, textarea:required {
  box-shadow: none;
}
input:focus, input:active,
textarea:focus, textarea:active {
  background-size: 100% 5%;
}
/* material design label styling */
.inputGroup {
  position:relative;
  margin: 20px 0;
}
label {
  font-size:1.5em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:12px;
  top:25px;
  transition:0.3s ease all;
  -moz-transition:0.3s ease all;
  -webkit-transition:0.3s ease all;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
  top:-5px;
  left: 0;
  font-size:1em;
}
