:root {
  --primary: #3d3d3d;
  --primary-rgba: rgba(61,61,61, 0.55);
  --lightGray: #7f7f7f;
  --backgroundColor: #f7f7f7;
  --textColor: var(--primary);

  --bodyFontStack: 'Rubik', sans-serif;
  --titleFontStack: var(--bodyFontStack);
}

* {
  box-sizing: border-box;
}
#body {
  background-color: var(--backgroundColor);
}
#root {
  min-width: 100%;
  overflow: hidden;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 10px;
}
@media (min-width: 768px) {
  .App {
    margin: 0 20px;
  }
}
h1, h2, h3 {

}
.no-margin-bottom {
  margin-bottom: 0;
}
.App-header {
  height: 70px;
  border-bottom: 3px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-home a {
  border-bottom: none;
}
body {
  color: var(--textColor);
  flex: 1;
  font-family: var(--bodyFontStack);
  line-height: 1.5;
}
.full-height {
  flex: 1;
}
p.description {
  margin: 0;
  color: var(--lightGray);
}
a,
a:visited {
  color: var(--lightGray);
  text-decoration: none;
  fill: inherit;
  background-image: linear-gradient(180deg,transparent 98%, var(--primary) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:active {
  color: inherit;
  background-image: linear-gradient(180deg,transparent 98%, var(--primary) 0);
  background-size: 100% 100%;
}
.text-section {

}
@media (min-width: 768px) {
  .text-section {
    width: 49%;
  }
}
footer {
  height: 70px;
  border-top: 3px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Forms */
::placeholder, label {
  color: var(--textColor);
}
input, textarea, select {
  color: var(--textColor);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(180deg,transparent 90%, var(--primary) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
}
textarea, select, input, button {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--textColor);
  -webkit-box-shadow: 0 0 0px 1000px var(--backgroundColor) inset;
  transition: background-color 0.3s ease-in-out;
}
input:required, textarea:required {
  box-shadow: none;
}
input:focus, input:active,
textarea:focus, textarea:active {
  background-image: linear-gradient(180deg,transparent 90%, var(--primary) 0);
  background-size: 100% 100%;
}

button {
  transition: background-size 0.3s ease;
  /* background-image: linear-gradient(180deg,transparent 0%, var(--primary) 0); */
  /* background-image: linear-gradient(to left, transparent 0%, transparent 0); */

  background-size: 0 10%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(0,146,70, 99%) 33.33333333333%, var(--backgroundColor) 33.33333333333%, var(--backgroundColor) 66.66666666666%, rgba(206,43,55, 99%) 66.66666666666%);

  background-color: var(--textColor);
  color: var(--backgroundColor);
  /* border: 3px solid var(--textColor); */
  text-align: center;
  width: 750px;
  margin: 2rem 0;
  height: 50px;
}
button:-webkit-autofill,
button:-webkit-autofill:hover,
button:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--textColor);
  -webkit-box-shadow: 0 0 0px 1000px var(--backgroundColor) inset;
}
button:focus, button:active,
button:hover {
  /* background-image: linear-gradient(180deg,transparent 0%, var(--primary) 0); */
  background-size: 100% 10%;
  /* transition: background-size 0.3s ease-in-out; */
  /* color: var(--textColor); */
  /* border: 3px solid var(--backgroundColor); */
}
@media (max-width: 768px) {
  button {
    width: 100%;
    margin-left: 0;
  }
}
/* material design label styling */
.inputGroup {
  position:relative;
  margin: 20px 0;
}
label {
  font-size:1.5em;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:12px;
  top:25px;
  transition:0.3s ease all;
  -moz-transition:0.3s ease all;
  -webkit-transition:0.3s ease all;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label {
  top:-5px;
  left: 0;
  font-size:1em;
}

/* Links */
a, a:visited {
  color: inherit;
  fill: inherit;
  background-image: linear-gradient(180deg,transparent 65%, var(--primary-rgba) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  border-bottom: 3px solid var(--primary-rgba);
  transition: all 0.3s ease-in-out;
}
a:hover, a:active {
  background-image: linear-gradient(180deg,transparent 65%, var(--primary-rgba) 0);
  background-size: 100% 100%;
}


.section-narrow__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section-narrow__wrapper {
    max-width: 750px;
  }
}

/* end forms */

form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  form {
    margin: 0;
  }
}
.input-and-button {
  font-size: 1.5em;
  border-radius: 6;
  padding: 0.5rem 0.75rem;
}
@media (max-width: 768px) {
  .input-and-button {
    padding: .5rem .57rem;
  }
}
.input {
  margin-top: 1rem;
  border: 3px solid var(--primary);
  width: 750px;
  resize: none;
}
@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}


select {
   background: transparent;
   border: 3px solid var(--textColor);
   /* -webkit-appearance: none; */
   font-size: 1.5em;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 50%;
}
